RewriteEngine On
RewriteRule ^item/([^/]*)$ /single_item.php?url=$1 [L]
RewriteRule ^equipamento/([^/]*)$ /single_equip.php?url=$1 [L]
RewriteRule ^monstro/([^/]*)$ /single_mob.php?url=$1 [L]
RewriteRule ^mapa/([^/]*)$ /single_map.php?url=$1 [L]
RewriteRule ^npc/([^/]*)$ /single_npc.php?url=$1 [L]
RewriteRule ^missao/([^/]*)$ /single_quest.php?url=$1 [L]
RewriteRule ^classe/([^/]*)$ /single_job.php?url=$1 [L]
RewriteRule ^noticia/([^/]*)$ /single_news.php?url=$1 [L]

RewriteRule ^mapas/mundo /worldmap.php [L]

RewriteRule ^paginas/tabela-de-experiencia /page_exptable.php [L]

RewriteRule ^list/itens/([^/]*)$ /list_items.php?type=$1 [L]
RewriteRule ^list/itens/([^/]*)/([^/]*)$ /list_items.php?type=$1&page=$2 [L]

RewriteRule ^list/equipamentos/([^/]*)$ /list_equips.php?type=$1&urlType=1 [L]
RewriteRule ^list/equipamentos/([^/]*)/([a-z]*)$ /list_equips.php?type=$1&job=$2&urlType=2 [L]
RewriteRule ^list/equipamentos/([^/]*)/([0-9]*)$ /list_equips.php?type=$1&page=$2&urlType=2 [L]
RewriteRule ^list/equipamentos/([^/]*)/([^/]*)/([0-9]*)$ /list_equips.php?type=$1&job=$2&page=$3&urlType=3 [L]

RewriteRule ^list/monstros/([^/]*)$ /list_mobs.php?type=$1&urlType=1 [L]
RewriteRule ^list/monstros/([^/]*)/([^/]*)/([^/]*)$ /list_mobs.php?type=$1&lvStart=$2&lvEnd=$3 [L]
RewriteRule ^list/monstros/([^/]*)/([0-9]*)$ /list_mobs.php?type=$1&page=$2 [L]
RewriteRule ^list/monstros/([^/]*)/([^/]*)/([^/]*)/([0-9]*)$ /list_mobs.php?type=$1&lvStart=$2&lvEnd=$3&page=$4 [L]

RewriteRule ^list/npcs$ /list_npcs.php [L]
RewriteRule ^list/npcs/([0-9]*)$ /list_npcs.php?page=$1 [L]

RewriteRule ^list/missoes$ /list_quests.php [L]
RewriteRule ^list/missoes/([0-9]*)$ /list_quests.php?page=$1 [L]

RewriteRule ^sub_opt/([^/]*)/([^/]*)$ /sub_options.php?sub=$2&type=$1 [L]
RewriteRule ^sub_opt/([^/]*)/([^/]*)/$ /sub_options.php?sub=$2&type=$1 [L]

RewriteRule ^search/([^/]*)$ /search.php [L]

ErrorDocument 404 "<H1>Page not found</H1>"

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
